Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

build_api_gateway:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_pdf_ingest:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_text_extraction:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_pipeline_runner:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_prompt_manager:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_pipeline_api:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_metrics:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_history_service:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

build_frontend:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - docker buildx create --use || docker buildx use default
  - mkdir -p "$CACHE_DIR"
  script:
  ...

Fix formatting in .gitlab-ci.yml for improved readability
  .gitlab-ci.yml
Due: none

Refactor CI YAML for improved readability and consistency
  .gitlab-ci.yml
Due: none

Update GitLab CI to make dependent jobs optional
  .gitlab-ci.yml
Due: none

Update CI deploy rules and improve Portainer script
  .gitlab-ci.yml
Due: none

Simplify CI deploy script and compose file handling
  .gitlab-ci.yml
Due: none

Update deploy script in GitLab CI for stability
  .gitlab-ci.yml
Due: none

Remove commented-out reachability check in GitLab CI
  .gitlab-ci.yml
Due: none

Enable always-triggered pipelines and add no-op job
  .gitlab-ci.yml
Due: none

Enhance GitLab CI pipeline flexibility and readability
  .gitlab-ci.yml
Due: none

"Refactor Dockerfiles for consistent structure and optimizations
  .gitignore
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Add Docker Hub integration to CI pipeline
  .gitlab-ci.yml
Due: none

Update deploy job in GitLab CI/CD pipeline
  .gitlab-ci.yml
Due: none

Simplify GitLab CI configuration and update deployment job.
  .gitlab-ci.yml
Due: none

Switch to pre-built images and improve service configuration
  docker-compose.yml
Due: none

Set hardcoded OpenAI API key in docker-compose.yml
  docker-compose.yml
Due: none

Refactor Docker workflows and compose files.
  .gitlab-ci.yml
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.txt
Due: none

Fix tag delimiter in Docker image build arguments
  .gitlab-ci.yml
Due: none

Update image tagging format in GitLab CI pipeline
  .gitlab-ci.yml
Due: none

Update REGISTRY_REPO value in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update image tags in GitLab CI pipeline for regression builds
  .gitlab-ci.yml
Due: none

Improve error handling and refactor database operations.
  services/history-service/src/main.rs
Due: build_history_service

Refactor history-service to clean up code and improve clarity
  services/history-service/src/main.rs
Due: build_history_service

Refactor services with enhanced error handling and schema setup
  Cargo.lock
  services/history-service/Cargo.toml
  services/history-service/src/main.rs
  services/metrics/src/main.rs
  services/pdf-ingest/src/main.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
  services/prompt-manager/src/main.rs
  services/text-extraction/src/main.rs
  services/upload-api/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Refactor redundant code and improve database error handling
  services/prompt-manager/src/main.rs
  services/text-extraction/src/main.rs
Due: build_text_extraction, build_prompt_manager

Fix text extraction fallback handling and add event re-emission
  services/text-extraction/src/main.rs
Due: build_text_extraction

Refactor error handling and enhance code maintainability
  services/prompt-manager/src/main.rs
Due: build_prompt_manager

Add ConnectionTrait import in prompt-manager
  services/prompt-manager/src/main.rs
Due: build_prompt_manager

Refactor DB connection logic and enhance error handling.
  services/metrics/src/main.rs
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, build_metrics

Refactor DB connection logic and enhance error handling.
  services/history-service/src/main.rs
Due: build_history_service

Simplify and clean up database connection logic.
  services/metrics/src/main.rs
Due: build_metrics

Update environment variables in docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

Update Dockerfile to enhance OCR support and fix dependencies
  services/text-extraction/Dockerfile
Due: build_text_extraction

Refactor Dockerfile for text-extraction service
  services/text-extraction/Dockerfile
Due: build_text_extraction

Refactor GitLab CI configuration for improved readability.
  .gitlab-ci.yml
Due: none

Enable layout-aware pdftotext and fix tests
  Cargo.lock
  Cargo.toml
  services/pdf-ingest/Cargo.toml
  services/pdf-ingest/src/main.rs
  services/text-extraction/Cargo.toml
  services/text-extraction/src/lib.rs
  services/text-extraction/src/main.rs
  services/text-extraction/tests/ocr.rs
  shared/Cargo.toml
  shared/src/db.rs
  shared/src/lib.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

chore: remove unused imports and fields
  services/pdf-ingest/src/main.rs
  services/text-extraction/src/main.rs
Due: build_pdf_ingest, build_text_extraction

Add migrations for merged PDFs and page-wise PDF texts
  migrations/20250903_alter_pdf_texts_to_pagewise.sql
  migrations/20250903_create_merged_pdfs.sql
Due: none

Use Deadpool pool for text-extraction database
  Cargo.lock
  services/text-extraction/Cargo.toml
  services/text-extraction/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Use deadpool-postgres pool in pdf-ingest
  Cargo.lock
  services/pdf-ingest/Cargo.toml
  services/pdf-ingest/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Enhance frontend build with dynamic build arguments
  .gitlab-ci.yml
Due: none

Path conditions:
  build_api_gateway: any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*
  build_pdf_ingest: any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*
  build_text_extraction: any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*
  build_pipeline_runner: any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*
  build_prompt_manager: any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*
  build_pipeline_api: any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*
  build_metrics: any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*
  build_history_service: any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*
  build_frontend: any of: frontend/**/*
