Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*

Regenerate Cargo.lock with stable cargo
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Regenerate Cargo.lock
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

chore: enforce LF for Rust and Cargo.lock
  .gitattributes
Due: none

chore: pin rust toolchain nightly-2025-10-13
  rust-toolchain.toml
Due: none

chore(ci): refresh Cargo.lock and pin toolchain
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Add new columns to `pdf_texts` table and handle updates
  services/text-extraction/src/main.rs
Due: build_text_extraction, deploy_stack

Add configurable decision confidence threshold
  frontend/src/components/PipelineEditor/StepDialog.tsx
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, build_frontend, deploy_stack

Softened pipeline editor styling
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Refactor UI text and icons in PipelineEditor.tsx
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Remove deprecated Chip component from PipelineEditor
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Set page titles based on active route
  frontend/src/App.tsx
Due: build_frontend, deploy_stack

Polish prompts page layout
  frontend/src/pages/Prompts.tsx
Due: build_frontend, deploy_stack

Simplify button styles in PipelineEditor component.
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Add SharePoint ingest management UI
  Cargo.lock
  Cargo.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/SharePointIngest.tsx
  frontend/src/types/ingest.ts
  frontend/src/utils/ingestApi.ts
  services/sharepoint-ingest/Cargo.toml
  services/sharepoint-ingest/Dockerfile
  services/sharepoint-ingest/README.md
  services/sharepoint-ingest/examples/http.http
  services/sharepoint-ingest/src/config.rs
  services/sharepoint-ingest/src/job.rs
  services/sharepoint-ingest/src/main.rs
  services/sharepoint-ingest/src/msgraph.rs
  services/sharepoint-ingest/src/pdfops.rs
  services/sharepoint-ingest/src/scan.rs
  services/sharepoint-ingest/src/upload_adapter.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Add CI pipeline for sharepoint-ingest service
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Refactor `.gitlab-ci.yml` for cleaner structure and better readability
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Include toolchain file in sharepoint-ingest build
  services/sharepoint-ingest/Dockerfile
Due: deploy_stack

Update SharePoint ingest Dockerfile for improved builds
  services/sharepoint-ingest/Dockerfile
Due: deploy_stack

Improve ingest API base URL configuration
  frontend/src/utils/ingestApi.ts
Due: build_frontend, deploy_stack

Tidy SharePoint upload navigation
  frontend/src/App.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/SharePointUpload.tsx
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, build_frontend, deploy_stack

Organize dashboard with grouped shortcuts
  frontend/src/pages/Dashboard.tsx
Due: build_frontend, deploy_stack

Rename SharePoint upload view and simplify sidebar
  frontend/src/App.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/SharePointUpload.tsx
  frontend/src/utils/ingestApi.ts
Due: build_frontend, deploy_stack

Add ingest proxy routes to API gateway
  services/api-gateway/src/main.rs
Due: build_api_gateway, deploy_stack

Enhance help page with detailed workflow guidance
  frontend/src/App.tsx
  frontend/src/pages/Help.tsx
Due: build_frontend, deploy_stack

Enhance OpenAI settings metadata
  Cargo.lock
  README.md
  docker-compose.txt
  frontend/src/pages/Settings.tsx
  frontend/src/utils/openai.ts
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
  shared/Cargo.toml
  shared/src/lib.rs
  shared/src/openai_client.rs
  shared/src/openai_settings.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Ensure pipeline run timings are persisted
  services/history-service/src/main.rs
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, build_history_service, deploy_stack

Refine documentation comments
  README.md
  frontend/src/components/GenericResultTable.tsx
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
  services/prompt-manager/src/main.rs
  services/prompt-manager/src/model.rs
  services/upload-api/src/main.rs
  shared/src/config.rs
  shared/src/db.rs
  shared/src/dto.rs
  shared/src/error.rs
  shared/src/evidence_resolver.rs
  shared/src/kafka.rs
  shared/src/lib.rs
  shared/src/openai_client.rs
  shared/src/utils.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Document Rust services with module docs
  services/history-service/src/main.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/json_relaxed.rs
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
  services/prompt-manager/src/main.rs
  services/sharepoint-ingest/src/config.rs
  services/sharepoint-ingest/src/job.rs
  services/sharepoint-ingest/src/main.rs
  services/sharepoint-ingest/src/msgraph.rs
  services/sharepoint-ingest/src/pdfops.rs
  services/sharepoint-ingest/src/scan.rs
  services/sharepoint-ingest/src/upload_adapter.rs
  services/text-extraction/src/main.rs
Due: build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_history_service, deploy_stack

Polish history service documentation
  services/history-service/src/main.rs
  services/pdf-ingest/src/main.rs
  services/pipeline-api/src/consolidation.rs
Due: build_pdf_ingest, build_pipeline_api, build_history_service, deploy_stack

Use IP defaults for production public host
  docker-compose.prod.yml
Due: none

Ensure ingest proxy handles all HTTP methods
  services/api-gateway/src/main.rs
Due: build_api_gateway, deploy_stack

Fix Actix options routes and remove unused DTO code
  services/api-gateway/src/main.rs
  shared/src/dto.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Document SharePoint ingest utilities and gateway routes
  README.md
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
  services/api-gateway/src/main.rs
  services/history-service/src/main.rs
  services/metrics/src/main.rs
  services/pdf-ingest/src/main.rs
  services/pipeline-api/src/consolidation.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/json_relaxed.rs
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
  services/prompt-manager/src/main.rs
  services/prompt-manager/src/model.rs
  services/sharepoint-ingest/src/config.rs
  services/sharepoint-ingest/src/job.rs
  services/sharepoint-ingest/src/main.rs
  services/sharepoint-ingest/src/msgraph.rs
  services/sharepoint-ingest/src/pdfops.rs
  services/sharepoint-ingest/src/scan.rs
  services/sharepoint-ingest/src/upload_adapter.rs
  services/text-extraction/src/lib.rs
  services/text-extraction/src/main.rs
  services/text-extraction/tests/ocr.rs
  services/upload-api/src/main.rs
  shared/src/config.rs
  shared/src/db.rs
  shared/src/dto.rs
  shared/src/error.rs
  shared/src/evidence_resolver.rs
  shared/src/kafka.rs
  shared/src/lib.rs
  shared/src/openai_client.rs
  shared/src/openai_settings.rs
  shared/src/utils.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Fix pipeline timing query to build without sqlx prepare
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

Fix pipeline runner sqlx imports and time feature
  services/pipeline-runner/Cargo.toml
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

docs: expand onboarding guide
  README.md
Due: none

Update Sidebar logo to use PNG format
  frontend/src/components/Sidebar.tsx
  frontend/src/imgs/logo_white.png
Due: build_frontend, deploy_stack

Fix pipeline-runner time formatting dependency
  Cargo.lock
  services/pipeline-runner/Cargo.toml
  services/pipeline-runner/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Update logo_black file type from SVG to PNG
  frontend/index.html
  frontend/src/components/Sidebar.tsx
  frontend/src/imgs/logo_black.png
Due: build_frontend, deploy_stack

Update logo_black.png
  frontend/src/imgs/logo_black.png
Due: build_frontend, deploy_stack
