Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

build_api_gateway:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pdf_ingest:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_text_extraction:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_runner:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_prompt_manager:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_api:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_metrics:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_history_service:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_frontend:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

Refactor variable handling and improve result processing
  services/pipeline-api/src/consolidation.rs
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, deploy_stack

Refactor Dockerfile to optimize build and runtime stages
  services/pipeline-api/Dockerfile
Due: build_pipeline_api, deploy_stack

Simplify and streamline Dockerfile for pipeline-api.
  services/pipeline-api/Dockerfile
Due: build_pipeline_api, deploy_stack

Add advanced filtering, data rendering, and export enhancements
  frontend/src/components/RunDetails.tsx
  frontend/src/components/final/EvidenceFilterBar.tsx
  frontend/src/components/final/FinalPills.tsx
  frontend/src/components/final/PromptAccordion.tsx
  frontend/src/components/final/finalUtils.ts
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Optimize history data handling and improve WebSocket updates
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Refactor and enhance analysis and history pages.
  frontend/src/components/RunDetails.tsx
  frontend/src/components/final/EvidenceFilterBar.tsx
  frontend/src/components/final/FinalPills.tsx
  frontend/src/components/final/PromptAccordion.tsx
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Add dynamic column rendering and filtering for analyses
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Add RunDetailsPage and navigation for detailed run view.
  frontend/src/App.tsx
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Add useNavigate import to Analyses page
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Wrap `RunDetailsPage` with `PageFade` for animation consistency.
  frontend/src/App.tsx
Due: build_frontend, deploy_stack

Refactor navigate hook initialization in Analyses.tsx
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Add support for opening analysis details in a new tab
  frontend/src/App.tsx
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Refactor run details handling and improve navigation.
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Update RunDetailsPage with enhanced PDF evidence links
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor and enhance diagnostics and optionality in RunDetailsPage
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor RunDetailsPage for cleaner logic and improved typing.
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor RunDetailsPage with improved comments and error handling
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor final map detection logic with deep scanning
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor and enhance pipeline-runner logging and processing.
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

Normalize run data structure across frontend components
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Refactor and enhance data handling in Analyses page
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Refactor Upload page with improved file handling logic
  frontend/src/pages/Upload.tsx
Due: build_frontend, deploy_stack

Refactor Upload page with hooks and simplified state logic
  .idea/Regress_Github.iml
  frontend/src/pages/Upload.tsx
Due: build_frontend, deploy_stack

Refactor error handling and run processing logic
  frontend/src/hooks/useUploadStore.ts
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

**Add bbox support and refactor run handling logic**
  migrations/20251020_finalize_steps_model.sql
  services/pipeline-api/src/consolidation.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
  shared/src/dto.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Add `status` column to `pipeline_runs` with defaults and index
  migrations/20251025_add_run_status.sql
Due: none

Add normalization and finalization logic for pipeline results
  frontend/src/components/RunDetails.tsx
  frontend/src/pages/History.tsx
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, build_frontend, deploy_stack

Refine decision aggregation and overall scoring inputs
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Refactor pipeline run logic and update result normalization
  frontend/package-lock.json
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
  migrations/0000_cleanup.sql
  migrations/0001_core.sql
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
  migrations/20250727_create_pipelines_down.sql
  migrations/20250727_create_pipelines_up.sql
  migrations/20250801_adjust_history_and_uploads.sql
  migrations/20250804_run_tracking_down.sql
  migrations/20250804_run_tracking_up.sql
  migrations/20250805_create_prompt_results_up.sql
  migrations/20250811_add_merge_key_to_run_steps.sql
  migrations/20250812_add_merge_key_column.sql
  migrations/20250903_alter_pdf_texts_to_pagewise.sql
  migrations/20250903_create_merged_pdfs.sql
  migrations/20250909_add_final_consolidation_columns_up.sql
  migrations/20251017_create_uploads_table_down.sql
  migrations/20251017_create_uploads_table_up.sql
  migrations/20251018_add_json_key_and_cleanup.sql
  migrations/20251019_update_prompt_results.sql
  migrations/20251020_drop_merge_key_column.sql
  migrations/20251020_finalize_steps_model.sql
  migrations/20251025_add_run_status.sql
Due: build_frontend, deploy_stack

Update frontend Dockerfile and refine .gitignore
  .gitignore
  frontend/Dockerfile
Due: build_frontend, deploy_stack

chore(frontend): refresh lockfile for Node 20/npm 10
  frontend/package-lock.json
Due: build_frontend, deploy_stack

Improve CI/CD pipeline and optimize frontend Dockerfile
  .gitlab-ci.yml
  frontend/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Improve CI/CD pipeline and optimize frontend Dockerfile
  .gitlab-ci.yml
  frontend/Dockerfile
  frontend/package-lock.json
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Refactor database schema and adjust prompt model.
  migrations/0000_cleanup.sql
  migrations/0001_core.sql
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
  services/prompt-manager/src/model.rs
Due: build_prompt_manager, deploy_stack

Refactor database schema and adjust prompt model.
  services/prompt-manager/src/main.rs
Due: build_prompt_manager, deploy_stack

Refactor weight handling to use Decimal instead of f64
  services/prompt-manager/src/main.rs
  services/prompt-manager/src/model.rs
Due: build_prompt_manager, deploy_stack

Refactor and simplify database schema for pipeline tables
  migrations/0001_core.sql
  migrations/0002_runs.sql
Due: none

Add schema initialization to ensure missing tables are created
  services/prompt-manager/src/main.rs
Due: build_prompt_manager, deploy_stack

Refactor pipelines to use UUIDs and enhance schema consistency
  migrations/0001_core.sql
  migrations/0002_runs.sql
Due: none

Refactor pipelines to use UUIDs and improve schema clarity
  Cargo.lock
  services/prompt-manager/Cargo.toml
  services/prompt-manager/src/main.rs
  services/prompt-manager/src/model.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*
