Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*

Refactor prompts, parsing, and error handling in OpenAI client.
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Refactor scoring logic and streamline UI components
  frontend/src/components/RunDetails.tsx
  services/pipeline-api/src/consolidation.rs
Due: build_pipeline_api, build_frontend, deploy_stack

Refactor and reformat consolidation logic for consistency
  services/pipeline-api/src/consolidation.rs
Due: build_pipeline_api, deploy_stack

Set default confidence to 0.0 when value is None
  services/pipeline-api/src/consolidation.rs
Due: build_pipeline_api, deploy_stack

Refactor RunDetails: add duration formatting and UI tweaks
  frontend/src/components/RunDetails.tsx
Due: build_frontend, deploy_stack

Refactor `RunDetails` component to simplify structure and enhance UX.
  frontend/src/components/RunDetails.tsx
Due: build_frontend, deploy_stack

Add missing newline at end of RunDetails.tsx file
  frontend/src/components/RunDetails.tsx
Due: build_frontend, deploy_stack

Refactor RunDetailsPage to simplify UI and improve usability.
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor scoring logic and add evidence resolution.
  frontend/src/components/ScoringWeightsCard.tsx
  shared/Cargo.toml
  shared/src/evidence_resolver.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Refactor text normalization and similarity logic
  shared/Cargo.toml
  shared/src/evidence_resolver.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Simplify module import and fix minor code inconsistencies.
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Fix evidence resolution for accurate page mapping.
  services/pipeline-runner/src/runner.rs
  shared/src/evidence_resolver.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor indentation in PipelineLinearView component
  frontend/src/components/PipelineLinearView.tsx
Due: build_frontend, deploy_stack

Update Docker Hub login variables in CI configuration
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Add batch page span handling for evidence display
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor handling of batch page spans and candidate evidence.
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Add support for multi-page spans in PromptAccordion
  frontend/src/components/final/PromptAccordion.tsx
Due: build_frontend, deploy_stack

Add detailed result finding card to run details
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Remove ScoreBreakdownCard component from RunDetailsPage
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Improve weighted scoring aggregation
  frontend/src/components/ScoringWeightsCard.tsx
Due: build_frontend, deploy_stack

Improve relaxed JSON parsing
  services/pipeline-runner/src/json_relaxed.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Show pending documents in analyses and history
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Limit sslmode override to local database URLs
  Cargo.lock
  services/pdf-ingest/Cargo.toml
  services/pdf-ingest/src/main.rs
  services/pipeline-api/Cargo.toml
  services/pipeline-api/src/main.rs
  services/pipeline-runner/Cargo.toml
  services/pipeline-runner/src/main.rs
  services/prompt-manager/Cargo.toml
  services/prompt-manager/src/main.rs
  services/text-extraction/Cargo.toml
  services/text-extraction/src/main.rs
  services/upload-api/Cargo.toml
  services/upload-api/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Normalize stored source PDF names
  frontend/src/pages/History.tsx
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, build_frontend, deploy_stack

feat: clarify weighted scoring summary
  frontend/src/components/ScoringWeightsCard.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Fix escaped backslash in source normalization
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, deploy_stack

Remove Datei columns from history and analyses
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
  services/history-service/src/main.rs
Due: build_history_service, build_frontend, deploy_stack

Use configured weights in final scoring
  frontend/src/components/ScoringWeightsCard.tsx
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/Prompts.tsx
Due: build_frontend, deploy_stack

feat: show progress for running analyses and history
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Handle OpenAI json content segments
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Refine history search suggestions trigger
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Show full prompt text and wrap explanations
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Disable Postgres TLS unless explicitly requested
  services/pdf-ingest/src/main.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
  services/prompt-manager/src/main.rs
  services/text-extraction/Cargo.toml
  services/text-extraction/src/main.rs
  services/upload-api/src/main.rs
Due: build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, deploy_stack

Add logic to skip SSL mode for localhost URLs
  services/pdf-ingest/src/main.rs
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
  services/prompt-manager/src/main.rs
  services/text-extraction/Cargo.toml
  services/text-extraction/src/main.rs
  services/upload-api/src/main.rs
Due: build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, deploy_stack

Filter parse error scoring attempts
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Add backend PDF name search and live suggestions
  frontend/src/pages/History.tsx
  services/history-service/src/main.rs
Due: build_history_service, build_frontend, deploy_stack

Replace OCR test fixture with base64 data
  Cargo.lock
  migrations/0009_pdf_texts_ocr_layout.sql
  services/text-extraction/Cargo.toml
  services/text-extraction/Dockerfile
  services/text-extraction/src/lib.rs
  services/text-extraction/src/main.rs
  services/text-extraction/tests/ocr.rs
  services/text-extraction/tests/ocr_sample.b64
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

chore: update Cargo.lock
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

chore: align reqwest dependency with lockfile
  Cargo.lock
  shared/Cargo.toml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Update Cargo.lock for hashbrown 0.16
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service
