Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

build_api_gateway:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pdf_ingest:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_text_extraction:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_runner:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_prompt_manager:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_api:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_metrics:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_history_service:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_frontend:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

Refactor RunDetailsPage by removing unused byPage logic
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Fix tab order in the Analyses page
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Remove unused pipeline selection dropdown from Upload page.
  frontend/src/pages/Upload.tsx
Due: build_frontend, deploy_stack

Add tenant support with filtering, views, and persistence
  frontend/src/components/TenantFilter.tsx
  frontend/src/hooks/useTenants.ts
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
  frontend/src/pages/TenantsPage.tsx
  migrations/0006_tenants.sql
  shared/Cargo.toml
  shared/src/db.rs
  shared/src/dto.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Add tenant management support across services
  frontend/src/App.tsx
  frontend/src/hooks/useTenants.ts
  frontend/src/pages/TenantsPage.tsx
  migrations/0006_tenants.sql
  services/history-service/src/main.rs
  shared/src/db.rs
  shared/src/dto.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Update GitLab CI for improved Docker configuration
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Improve Docker initialization and streamline login process
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Set Docker service to privileged mode and improve daemon checks
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Refactor GitLab CI to simplify Docker setup.
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Update sqlx dependency to version 0.7.4 across all services
  services/pipeline-api/Cargo.toml
  services/pipeline-runner/Cargo.toml
  services/upload-api/Cargo.toml
  shared/Cargo.toml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Add `sqlx` to dependencies in Cargo.lock
  Cargo.lock
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Add tenant selection and loading improvements for uploads
  frontend/src/components/TenantFilter.tsx
  frontend/src/hooks/useTenants.ts
  frontend/src/pages/Upload.tsx
Due: build_frontend, deploy_stack

Update upload and delete endpoints with tenant-aware logic
  frontend/src/pages/Upload.tsx
Due: build_frontend, deploy_stack

Add tenant association and default fallback in upload handling
  migrations/0007_uploads_default_tenant.sql
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, deploy_stack

Add support for PDF names in History and Analyses views
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/History.tsx
  migrations/0008_pdf_names_in_views.sql
Due: build_frontend, deploy_stack

Normalize boolean scores and enhance analysis history timestamps
  frontend/src/hooks/useRunDetails.ts
  services/history-service/src/main.rs
Due: build_history_service, build_frontend, deploy_stack

Add ScoreCell with progress bar for better score display
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Add ScoreBreakdownCard to display detailed scoring steps
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Add tri-state scoring support with configuration options
  frontend/src/components/PipelineEditor.tsx
  frontend/src/components/PipelineEditor/ScoringConfigFields.tsx
  frontend/src/components/ScoringWeightsCard.tsx
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
  shared/src/dto.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Add tri-state scoring support with configuration options
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

Fix handling of optional values and adjust comments.
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

Fix borrow safety and improve explanation/support handling
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, deploy_stack

Refactor PipelineEditor for cleaner code and formatting.
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Refactor PipelineEditor for improved readability and maintainability
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Refactor debouncing and state handling in PipelineEditor
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Add persistent save functionality for pipeline editor
  frontend/src/components/PipelineEditor.tsx
Due: build_frontend, deploy_stack

Refactor pipeline config handling and scoring logic
  frontend/src/hooks/usePipelineStore.ts
  services/pipeline-runner/src/main.rs
  shared/src/dto.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Refactor main.rs for consistency and improved readability
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, deploy_stack

Update pipeline API to support full pipeline replacements
  services/pipeline-api/src/main.rs
  services/pipeline-runner/src/main.rs
Due: build_pipeline_runner, build_pipeline_api, deploy_stack

Fix type mismatches in RunStep struct assignments
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Improve JSON handling and scoring logic robustness
  services/pipeline-runner/src/json_relaxed.rs
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Improve robustness of OpenAI response handling and error logging
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Refactor OpenAI client logic and clean up code.
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Update Sidebar with new items and icons
  frontend/src/components/Sidebar.tsx
Due: build_frontend, deploy_stack

Fix missing `.await` calls for `call_openai_chat` function
  shared/src/dto.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Standardize capitalization for TernaryLabel variants
  shared/src/dto.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Fix minor comment formatting in openai_client.rs
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Fix TernaryLabel enum case inconsistencies
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Simplify Sidebar component navigation formatting
  frontend/src/components/Sidebar.tsx
Due: build_frontend, deploy_stack

Refactor JSON handling and improve prompt logic.
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*
