Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

build_api_gateway:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pdf_ingest:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_text_extraction:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_runner:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_prompt_manager:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_pipeline_api:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_metrics:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_history_service:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

build_frontend:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  before_script:
  - echo "Logging in to GitLab Registry..."
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  ...

Add migrations for prompts, prompt groups, and group prompts
  migrations/0000z1_prompts.sql
  migrations/0000z2_prompt_groups.sql
  migrations/0000z3_group_prompts.sql
Due: none

Add missing tables to cleanup script in migrations
  migrations/0000_cleanup.sql
Due: none

Remove redundant migrations and update schema for consistency
  migrations/0000z1_prompts.sql
  migrations/0000z2_prompt_groups.sql
  migrations/0000z3_group_prompts.sql
  migrations/0001_core.sql
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Add tables for PDFs, sources, texts, and uploads
  migrations/0001_core.sql
Due: none

Add conditional existence checks to SQL migrations
  migrations/0000_cleanup.sql
  migrations/0001_core.sql
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Add indexes, constraints, and columns for pipeline runs
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Update SQL schema for pipeline processing improvements
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Adjust schema and indexes for pipeline run handling
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Update database schema and adjust constraints for pipelines
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Add indexes and enhance schema for pipeline and history tables
  migrations/0002_runs.sql
  migrations/0003_indexes.sql
Due: none

Add SQL migration to fix analysis history schema and triggers
  migrations/0004_history_fix.sql
Due: none

Refine SQL migrations for improved schema and data handling.
  migrations/0000_cleanup.sql
  migrations/0001_core.sql
  migrations/0002_runs.sql
  migrations/0004_history_fix.sql
Due: none

**Change analysis_history.id type from BIGINT to INT**
  migrations/0005_history_id_int.sql
Due: none

Refactor analysis detail handling and integrate fallback logic
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor details handling for pdfId and storage integration
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor run details fetching logic to improve robustness
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor `fetchFromResults` to consolidate data processing.
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor and enhance run details handling
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor and optimize useRunDetails hook logic
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor and enhance `useRunDetails` hook.
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor DB layer to add robust connection pool wrapper.
  services/history-service/src/main.rs
Due: build_history_service, deploy_stack

Refactor DB connection handling with improved resilience
  services/history-service/src/main.rs
Due: build_history_service, deploy_stack

Refactor DB logic for reliability and remove redundant code
  services/history-service/src/main.rs
Due: build_history_service, deploy_stack

Refactor and enhance JSON parsing and key-value handling
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor run details and extraction logic
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor JSON parsing and extraction handling
  frontend/src/hooks/useRunDetails.ts
Due: build_frontend, deploy_stack

Refactor and streamline run details processing logic
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Enhance PDF evidence handling and UI consistency
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor OpenAI client to enforce strict JSON schema validation
  shared/src/openai_client.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service

Refactor and improve code formatting and logic in RunDetails.
  frontend/src/hooks/useRunDetails.ts
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Add ScoringWeightsCard component with weighted scoring visualization
  frontend/src/components/ScoringWeightsCard.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Add ScoringWeightsCard component with weighted scoring visualization
  frontend/src/components/PageHeader.tsx
  frontend/src/pages/Analyses.tsx
  frontend/src/pages/Prompts.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Refactor UI components to enhance clarity and consistency
  frontend/src/pages/PipelineList.tsx
  frontend/src/pages/Prompts.tsx
Due: build_frontend, deploy_stack

Add enhanced UI features to PipelineList page
  frontend/src/pages/PipelineList.tsx
Due: build_frontend, deploy_stack

Remove overallScore column and related functionality
  frontend/src/pages/PipelineList.tsx
Due: build_frontend, deploy_stack

Implement dynamic pipeline name resolution in Analyses page
  frontend/src/pages/Analyses.tsx
Due: build_frontend, deploy_stack

Add pipeline support and enhance RunDetails navigation
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Add PDF-ID column to History table
  frontend/src/pages/History.tsx
Due: build_frontend, deploy_stack

Set default color mode to 'light'
  frontend/src/ColorModeContext.tsx
Due: build_frontend, deploy_stack

Integrate enhanced PdfViewer component
  frontend/src/components/PdfViewer.tsx
  frontend/src/pages/RunDetailsPage.tsx
Due: build_frontend, deploy_stack

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*
