Repository KarimAlMaghribi/Regress: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Path conditions:
  build_api_gateway: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/api-gateway/**/*)
  build_pdf_ingest: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pdf-ingest/**/*)
  build_text_extraction: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/text-extraction/**/*)
  build_pipeline_runner: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-runner/**/*)
  build_prompt_manager: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/prompt-manager/**/*)
  build_pipeline_api: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/pipeline-api/**/*)
  build_metrics: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/metrics/**/*)
  build_history_service: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: Cargo.toml, Cargo.lock, shared/**/*, services/history-service/**/*)
  build_frontend: (any of: .gitlab-ci.yml, docker-compose.yml) or (any of: frontend/**/*)
  deploy_stack: any of: docker-compose.yml, services/**/*, frontend/**/*

Update GitLab CI to improve Docker build script reliability
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Simplify CI build scripts by removing multiline commands
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Add new API routes and refactor proxy request handling
  services/api-gateway/src/main.rs
Due: build_api_gateway, deploy_stack

Refactor and fix SQL queries, alignment, and text handling
  services/pdf-ingest/src/main.rs
  services/pipeline-runner/src/main.rs
  services/text-extraction/src/main.rs
Due: build_pdf_ingest, build_text_extraction, build_pipeline_runner, deploy_stack

Fix syntax error in PDF ingest test assert statement
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, deploy_stack

Add health check endpoint and refactor function signatures
  services/pdf-ingest/src/main.rs
Due: build_pdf_ingest, deploy_stack

Add db-migrator and restructure migrations
  .gitlab-ci.yml
  docker-compose.prod.yml
  migrations/20250727_create_pipelines.sql
  migrations/20250801_adjust_history_and_uploads.sql
  migrations/20250804_run_tracking.sql
  migrations/20250811_add_merge_key_to_run_steps.sql
  migrations/20250812_add_merge_key_column.sql
  migrations/20250903_alter_pdf_texts_to_pagewise.sql
  migrations/20250903_create_merged_pdfs.sql
  migrations/20251017_create_uploads_table.sql
  migrations/20251017_create_uploads_table_down.sql
  migrations/20251017_create_uploads_table_up.sql
  migrations/20251018_add_json_key_and_cleanup.sql
  migrations/20251019_update_prompt_results.sql
  migrations/Dockerfile
  migrations/run.sh
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Normalize Dockerfiles across services.
  migrations/Dockerfile
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor migrations build and execution pipeline
  .gitlab-ci.yml
  migrations/migrations-image/Dockerfile
  migrations/migrations-image/run.sh
  migrations/run.sh
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Simplify multi-line docker buildx command in CI script.
  .gitlab-ci.yml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Refactor Dockerfiles and improve CI Docker image build flow
  .gitlab-ci.yml
  migrations/migrations-image/Dockerfile
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Refactor migrations build process in GitLab CI
  .gitlab-ci.yml
  migrations/migrations-image/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Update CI pipeline and restructure migrations directory
  .gitlab-ci.yml
  migrations/Dockerfile
  migrations/run.sh
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Add Docker Hub login and update migrations image setup
  .gitlab-ci.yml
  migrations/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend

Update Dockerfiles to use registry mirror and streamline builds
  migrations/Dockerfile
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor Dockerfiles to use common base image arguments
  migrations/Dockerfile
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Update Dockerfiles for better build caching and compatibility
  services/api-gateway/Dockerfile
  services/history-service/Dockerfile
  services/metrics/Dockerfile
  services/pdf-ingest/Dockerfile
  services/pipeline-api/Dockerfile
  services/pipeline-runner/Dockerfile
  services/prompt-manager/Dockerfile
  services/text-extraction/Dockerfile
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor migrations for pipeline and upload table updates
  migrations/20250727_create_pipelines.sql
  migrations/20250727_create_pipelines_down.sql
  migrations/20250727_create_pipelines_up.sql
  migrations/20250903_alter_pdf_texts_to_pagewise.sql
  migrations/20250903_create_merged_pdfs.sql
  migrations/20251017_create_uploads_table_up.sql
Due: none

Add idempotent migrations for run tracking and enhance scripts
  migrations/20250727_create_pipelines_down.sql
  migrations/20250727_create_pipelines_up.sql
  migrations/20250804_run_tracking.sql
  migrations/20250804_run_tracking_down.sql
  migrations/run.sh
Due: none

Add merge_to column and set NOT NULL constraints in SQL migration
  migrations/20250811_add_merge_key_to_run_steps.sql
Due: none

Refactor migrations and improve indexing logic
  migrations/20250804_run_tracking.sql
  migrations/20250804_run_tracking_down.sql
  migrations/20250804_run_tracking_up.sql
  migrations/run.sh
Due: none

Add per-page text extraction and enhance Kafka handling
  .gitlab-ci.yml
  services/text-extraction/src/lib.rs
  services/text-extraction/src/main.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, build_frontend, deploy_stack

Refactor database client to use mutable reference
  services/text-extraction/src/main.rs
Due: build_text_extraction, deploy_stack

Refactor batch processing and enhance OpenAI integration
  Cargo.lock
  migrations/20250903_create_merged_pdfs.sql
  services/pipeline-runner/Cargo.toml
  services/pipeline-runner/src/main.rs
  services/pipeline-runner/src/runner.rs
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor extraction and scoring to support batched execution
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Refactor pipeline executor with improved batch handling
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Refactor pipeline runner for enhanced clarity and robustness
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Remove redundant comments from runner.rs
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Refactor pipeline runner for improved readability and robustness
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Remove redundant comments and fix prompt_id type inconsistencies
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Create and update `prompt_results` table with conditional checks
  migrations/20250805_create_prompt_results_up.sql
  migrations/20251019_update_prompt_results.sql
Due: none

Create and update `prompt_results` table with conditional checks
  migrations/20251018_add_json_key_and_cleanup.sql
Due: none

Refactor batching logic and add dynamic retry backoff.
  services/pipeline-runner/src/runner.rs
Due: build_pipeline_runner, deploy_stack

Add consolidation logic and database schema updates
  migrations/20250909_add_final_consolidation_columns_up.sql
  services/pipeline-api/Cargo.toml
  services/pipeline-api/consolidation.rs
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, deploy_stack

Add "regex" dependency to pipeline-api service
  Cargo.lock
  services/pipeline-api/Cargo.toml
Due: build_api_gateway, build_pdf_ingest, build_text_extraction, build_pipeline_runner, build_prompt_manager, build_pipeline_api, build_metrics, build_history_service, deploy_stack

Refactor structs and streamline pipeline result handling
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, deploy_stack

Refactor key_for_prompt to use slices and iterators.
  services/pipeline-api/src/main.rs
Due: build_pipeline_api, deploy_stack

Refactor prompt ID handling and update comments.
  services/pipeline-api/consolidation.rs
Due: build_pipeline_api, deploy_stack

Refactor and clean up consolidation logic and comments
  services/pipeline-api/consolidation.rs
Due: build_pipeline_api, deploy_stack

Move consolidation.rs to src folder
  services/pipeline-api/src/consolidation.rs
Due: build_pipeline_api, deploy_stack
